$bgcolor: #cc738a;
$hovercolor: #b94966;

%checkbox-shared {
    outline: none;
    margin: 15px;
    width: 20px;                         
    height: 20px;                       
    border-radius: 50%;
    vertical-align: middle;
    clip-path: circle(50% at 50% 50%);
}

.checkbox {
    @extend %checkbox-shared;
    border: 2px solid LightGray;
    -webkit-appearance: none;
    cursor: pointer;
}

.checkbox:checked {
    @extend %checkbox-shared;
    appearance: auto;
    accent-color: $hovercolor;
  }

  .checkbox:hover {
    @extend %checkbox-shared;
   border: 2px solid $hovercolor;
  }

  .checkbox:focus {
    @extend %checkbox-shared;
    border: 2px solid LightGray;
   }

   .checkbox:focus:hover {
    @extend %checkbox-shared;
    border: 2px solid $hovercolor;
   }
