.todo-list-item {
  width: 100%;
  margin: 0px;
  line-height: 45px;
  border-bottom-style: groove;
  border-width: 1px;
  display: flex;
  justify-content: space-between;
}

.todo-list-item .todo-list-item-content {
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
}

.todo-list-item.completed .todo-list-item-content {
  text-decoration: line-through;
}

.todo-list-item .delete-btn {
  border-style: hidden;
  border: 0px;
  background-color: inherit;
  vertical-align: middle;
  text-align: right;
  float: right;
  margin-left: 10px;
  margin-right: 20px;
}

.todo-list-item .delete-btn:hover,
.todo-list-item .delete-btn:focus{
  cursor: pointer;
 }