.filter-button {
    border-style: hidden;
    background: none;
    color: grey;
    font-size: 14px;
}

.filter-button:hover {
    color: #363636;
}

.filter-button.active {
    border: none;
    border-style: hidden;
    color: #74269b;
}