.app {
  display: flex;
  align-items: center;
  height: 290px;
  background-image: url(../../img/image.jpg);
}

.toDoList {
  width: 30%;
  padding-left: 0;
  position: absolute;
  top: 7%;
  right: 35%;
  left: 35%;
}

.rounded {
    display: block;
    justify-content: left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 30px #848484;
}

.dragAndDropInfo {
  display: flex;
  margin-top: 30px;
  color: darkgray;
  justify-content: center;
  font-size: 11px;
}