.app {
  background: gray;
  display: flex;
  align-items: center;
}

.toDoList {
  width: 30%;
  margin: auto;
  position: absolute;
  top: 7%;
  right: 35%;
  left: 35%;
}

.background-img {
  height: 30%;
  width: 100%;
  position: relative;
  background-color: blueviolet;
}

.background-white {
  height: 70%;
  position: relative;
  background-color: white;
}