.item-status-filter-panel {
    margin-top: 10px;
}

.clear-button {
    border-style: hidden;
    background: none;
    color: #363636;
    margin-right: 5px;
    font-size: 14px;
}

.clear-button:hover {
   color: #74269b;
}

.item-status-filter-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }