.item-status-filter-panel {
    margin-top: 10px;
}

.btn {
    padding: 0;
    border: none;
    background: none;
}

.btn.active {
    font-weight: purple;
}

.item-status-filter-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }