.add-item-panel {
  margin-bottom: 20px;
}

input, input.form-control {
  border-style: groove;
  border: 1px solid #555;
}

input:focus, input.form-control:focus {
    outline:1px solid #555 !important;
    outline-width: 1px !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
